body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
  }
  
  .chat-container {
    text-align: left;
    resize: both;
    overflow: auto;
    padding: 10px;
    width: 20%;
    height: 90%;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .date {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .create-room-button {
    padding: 10px 20px;
    width: 300px;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 20px; 
  }
  
  .invite-code-button {
    padding: 10px 20px;
    width: 300px;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 20px; 
  }
  
  .my-team-title {
    font-size: 10px;
    margin-top: 0;
    text-align: left;
  }
  
  .my-team-container {
    background-color: #f1f1f1;
    resize: both;
    overflow: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 300px;
    text-align: left;
  }
  
  .my-team-container h2 {
    margin-top: 0;
  }
  
  /* 방 만들기 팝업창 스타일 */
  .popup {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  input[type="text"] {
    width: 320px;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    align-items: center;
  }
  
  .create-team-button {
    padding: 10px 20px;
    width: 320px;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 20px; 
    align-items: center;
  }
  
  /* 초대 코드 팝업창 스타일 */
  .invite-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .invite-popup .popup-content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
  }
  
  .invite-popup .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .invite-popup .close-button:hover,
  .invite-popup .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .invite-popup input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
  }
  
  .invite-popup .confirm-button {
    padding: 10px 20px;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 20px; 
  }
  
  .chat{
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100vh;
    }
    
    .chat-container {
      text-align: left;
      resize: both;
      overflow: auto;
      padding: 10px;
      width: 20%;
      height: 90%;
      background-color: #f4f4f4;
      border: 1px solid #ccc;
      border-radius: 10px;
    }
    
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
  
    .date {
      font-size: 24px;
      margin-bottom: 20px;
    }
    
    .button-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .create-room-button {
      padding: 10px 20px;
      width: 300px;
      background-color: #007bff;
      color: #fff;
      border: none;
      margin-bottom: 10px;
      cursor: pointer;
      border-radius: 20px; 
    }
  
    .invite-code-button {
      padding: 10px 20px;
      width: 300px;
      background-color: #007bff;
      color: #fff;
      border: none;
      margin-bottom: 10px;
      cursor: pointer;
      border-radius: 20px; 
    }
  
    .my-team-title {
      font-size: 10px;
      margin-top: 0;
      text-align: left;
    }
    
    .my-team-container {
      background-color: #f1f1f1;
      resize: both;
      overflow: auto;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
      width: 300px;
      text-align: left;
    }
    
    .my-team-container h2 {
      margin-top: 0;
    }
  
   /* 팝업 스타일 */
  .popup {
      display: none; 
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }
    
    .popup-content {
      background-color: #fefefe;
      margin: 10% auto; 
      padding: 20px;
      border: 1px solid #888;
      width: 20%;
    }
    
    .close-button {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close-button:hover,
    .close-button:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    
    input[type="text"] {
      width: 320px;
      padding: 10px;
      margin: 10px 0;
      box-sizing: border-box;
      align-items: center;
    }
  
  .create-team-button {
      padding: 10px 20px;
      width: 320px;
      background-color: #007bff;
      color: #fff;
      border: none;
      margin-bottom: 10px;
      cursor: pointer;
      border-radius: 20px; 
      align-items: center;
    }
  
  /* 초대 코드 팝업창 스타일 */
  .invite-popup {
      display: none; /* 초기에는 숨김 */
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }
    
    .invite-popup .popup-content {
      background-color: #fefefe;
      margin: 10% auto; 
      padding: 20px;
      border: 1px solid #888;
      width: 20%;
    }
    
    .invite-popup .close-button {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .invite-popup .close-button:hover,
    .invite-popup .close-button:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
    
    .invite-popup input[type="text"] {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      box-sizing: border-box;
    }
    
    .invite-popup .confirm-button {
      padding: 10px 20px;
      width: 100%;
      background-color: #007bff;
      color: #fff;
      border: none;
      margin-bottom: 10px;
      cursor: pointer;
      border-radius: 20px; 
    }
  
  