body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0; 
}

.find-password-form {
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
}

.find-password-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: .5rem;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.buttons {
    text-align: center; /* 방법 1: 버튼들을 감싸는 부모 요소에 text-align: center; 적용 */
    /* display: flex; 
    justify-content: center; 방법 2: 버튼들을 감싸는 부모 요소에 display: flex; justify-content: center; 적용 */
}

button[type="submit"] {
    width: calc(100% - 20px); 
    padding: 15px; 
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}