<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link href = 'findPassword.css' rel = "stylesheet"/>
</head>
<body>
    <div class="find-password-form">
        <h2>비밀번호 찾기</h2>
        <form action="/find-password" method="post">
            <div class="form-group">
                <label for="userEmail">아이디:</label>
                <input type="Id" id="userId" name="Id" required>
            </div>
            <button type="submit">비밀번호 찾기</button>
        </form>
    </div>
</body>
</html>