<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>아이디 찾기</title>
  <link href="/css/findId.css" rel="stylesheet"/>
  <style>
    /* 팝업 메시지 스타일 */
    .popup {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      border: 1px solid #ccc;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
    }
  </style>
</head>
<body>
<div class="find-id-form">
  <h2>아이디 찾기</h2>
  <form action="/user/findId" method="post" onsubmit="event.preventDefault(); validateForm();">
    <div class="form-group">
      <label for="userName">이름:</label>
      <input type="text" id="userName" name="name" required>
      <span id="name_error_message"></span>
    </div>
    <div class="form-group">
      <label for="userPhone">생년월일:</label>
      <input type="tel" id="userPhone" name="phone" required>
      <span id="phone_error_message"></span>
    </div>
    <button type="submit">아이디 찾기</button>
  </form>
</div>

<div id="popup_message" class="popup"></div>

<script>
  function validateForm() {
    var nameInput = document.querySelector('input[name="name"]');
    var phoneInput = document.querySelector('input[name="phone"]');
    var popupMessage = document.getElementById('popup_message');
    if (nameInput.value === "") {
      document.getElementById('name_error_message').innerHTML = "이름을 입력해주세요.";
      document.getElementById('phone_error_message').innerHTML = "";
      popupMessage.innerHTML = "";
    } else if (phoneInput.value === "") {
      document.getElementById('phone_error_message').innerHTML = "전화번호를 입력해주세요.";
      document.getElementById('name_error_message').innerHTML = "";
      popupMessage.innerHTML = "";
    } else {
      // 아이디 찾기 로직
      var foundId = findId(nameInput.value, phoneInput.value);
      if (foundId) {
        popupMessage.innerHTML = "아이디는 " + foundId + "입니다.";
      } else {
        popupMessage.innerHTML = "일치하는 아이디가 없습니다.";
      }
      document.getElementById('name_error_message').innerHTML = "";
      document.getElementById('phone_error_message').innerHTML = "";
      popupMessage.style.display = 'block'; // 팝업 메시지를 보이도록 설정
    }
  }

  function findId(name, phone) {
    // 아이디 찾기 로직 php를 이용하여 불러오기
    if (name === "홍길동" && phone === "010-1234-5678") {
      return "hong123";
    } else {
      return null;
    }
  }
</script>
</body>
</html>