<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 찾기</title>
  <link href = 'findPassword.css' rel = "stylesheet"/>
</head>
<body>
<div class="find-password-form">
  <h2>비밀번호 찾기</h2>
  <form action="/user/findPassword" method="post">
    <div class="form-group">
      <label for="newpasswd">비밀번호:</label>
      <input type="tel" id="userPhone" name="phone">
    </div>

    <div class="form-group">
      <label for="newpasswd_again">비밀번호 재설정:</label>
      <input type="Id" id="userId" name="Id" required>
    </div>
    <button type="submit">확인</button>
  </form>
</div>
</body>
</html>