<html>
  <head>
    <title>Calendar</title>
    <link rel="stylesheet" href= "main.css" />
  </head>
  <body>
    <div class="calendar-container">
      <div class="calendar-header">
        <button id="prevBtn"></button>
        <h2 id="currentMonth"></h2>
        <button id="nextBtn"></button>
      </div>
      <div class="calendar-days">
        <div class="day">일</div>
        <div class="day">월</div>
        <div class="day">화</div>
        <div class="day">수</div>
        <div class="day">목</div>
        <div class="day">금</div>
        <div class="day">토</div>
      </div>
      <div class="calendar-dates" id="calendarDates"></div>
    </div>
    <script src="./main.js"></script>
  </body>
</html>