<!DOCTYPE html>
<html lang="ko">

<head>
    <title>회원가입 페이지</title>
    <link href="/css/signUp.css" rel="stylesheet" />
    <style>
        /* 스크롤 가능하도록 설정 */
        .privacyPolicy {
            height: 150px;
            overflow: auto;
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 20px;
        }
        .servicePolicy{
            height: 150px;
            overflow: auto;
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 20px;
        }
    </style>
</head>

<body>
<!-- action 속성: form에 작성한 데이터를 어디로 보낼지 지정 -->
<form action="/user/signup" method="post"> <!-- 프론트 이거 지우지 마세요-->
    <div class="wrapper">
        <div class="title">
            <h1 style="font-size: 21px;">회원가입</h1>
        </div>
        <div class="name">
            <h3 class="list">이름<span id="namesu"></span></h3>
            <input id="name" name="userName" type="text" placeholder="이름을 입력해 주세요.">
            <div id="nameError" class="error"></div>
        </div>
        <div class="email">
            <h3 class="list">아이디<span id="Idsu"></span></h3>
            <!-- Flexbox를 사용하는 div 추가 -->
            <div class="email-container">
                <input id="email" name="userMail" type="text" placeholder="이메일을 입력해 주세요.">
                <button type="button" class="email_button" onclick="verifyEmail()">Email 인증하기</button>
            </div>
            <div id="emailError" class="error"></div>
        </div>

        <div class = "success-message hide"></div>
        <div class = "failure-message hide">올바른 이메일 형식이 아닙니다.</div>

        <div class="password">
            <h3 class="list">비밀번호<span id="passwordsu"></span></h3>
            <input id="password" name="userPassword" type="password" placeholder="비밀번호를 입력해 주세요.">
            <div id="passwordError" class="error"></div>
        </div>

        <div class = "strongPassword-message hide"> 6자~20자,숫자,대소문자,특수문자(@$!%*#?&)를 사용하세요.</div>

        <div class ="info" id = "info__birth">
            <h3 class = "list">생년월일<span id ="birth_date"></span></h3>
            <select class = "box" id = "birth-year">
                <option disabled selected>출생 연도</option>
            </select>
            <select class = "box" id = "birth-month">
                <option disabled selected>월</option>
            </select>
            <select class = "box" id= "birth-day">
                <option disabled selected>일</option>
            </select>
        </div>
        <input type="hidden" id="completeBirthDate" name="userBirth">

        <div class="gender">
            <h3 class="list">성별<span id="sex"></span></h3>
            <div class="buttons">
                <button type="button" class="genders" onclick = "change_btn(event)">남성</button>
                <button type="button" class="genders" onclick = "change_btn(event)">여성</button>
            </div>
        </div>

        <!-- 숨겨진 userSex 필드 -->
        <input type="hidden" id="userSex" name="userSex">

        <div class="line">
            <hr>
        </div>

        <div class="servicePolicy">
            <h2>서비스 이용약관</h2>
            <p>
                제1조(목적) 이 약관은 timeflow(전자상거래 사업자)가 운영하는 timeflow(이하 “홈페이지”이라 한다)에서 제공하는 인터넷 관련 서비스(이하 “서비스”라 한다)를 이용함에 있어 홈페이지와 이용자의 권리․의무 및 책임사항을 규정함을 목적으로 합니다.

                ※「PC통신, 무선 등을 이용하는 전자상거래에 대해서도 그 성질에 반하지 않는 한 이 약관을 준용합니다.」

                제2조(정의)

                ① “홈페이지”이란 OO 회사가 재화 또는 용역(이하 “재화 등”이라 함)을 이용자에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 재화 등을 거래할 수 있도록 설정한 가상의 영업장을 말하며, 아울러 사이버홈페이지을 운영하는 사업자의 의미로도 사용합니다.

                ② “이용자”란 “홈페이지”에 접속하여 이 약관에 따라 “홈페이지”이 제공하는 서비스를 받는 회원 및 비회원을 말합니다.

                ③ ‘회원’이라 함은 “홈페이지”에 회원등록을 한 자로서, 계속적으로 “”이 제공하는 서비스를 이용할 수 있는 자를 말합니다.

                ④ ‘비회원’이라 함은 회원에 가입하지 않고 “홈페이지”이 제공하는 서비스를 이용하는 자를 말합니다.

                제3조 (약관 등의 명시와 설명 및 개정)

                ① “홈페이지”은 이 약관의 내용과 상호 및 대표자 성명, 영업소 소재지 주소(소비자의 불만을 처리할 수 있는 곳의 주소를 포함), 전화번호․모사전송번호․전자우편주소, 사업자등록번호, 통신판매업 신고번호, 개인정보관리책임자등을 이용자가 쉽게 알 수 있도록 00 사이버홈페이지의 초기 서비스화면(전면)에 게시합니다. 다만, 약관의 내용은 이용자가 연결화면을 통하여 볼 수 있도록 할 수 있습니다.

                ② “홈페이지은 이용자가 약관에 동의하기에 앞서 약관에 정하여져 있는 내용 중 청약철회․배송책임․환불조건 등과 같은 중요한 내용을 이용자가 이해할 수 있도록 별도의 연결화면 또는 팝업화면 등을 제공하여 이용자의 확인을 구하여야 합니다.

                ③ “홈페이지”은 「전자상거래 등에서의 소비자보호에 관한 법률」, 「약관의 규제에 관한 법률」, 「전자문서 및 전자거래기본법」, 「전자금융거래법」, 「전자서명법」, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」, 「방문판매 등에 관한 법률」, 「소비자기본법」 등 관련 법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.

                ④ “홈페이지”이 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 홈페이지의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다.  이 경우 "홈페이지“은 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다.

                ⑤ “홈페이지”이 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정 전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 제3항에 의한 개정약관의 공지기간 내에 “홈페이지”에 송신하여 “홈페이지”의 동의를 받은 경우에는 개정약관 조항이 적용됩니다.

                ⑥ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래 등에서의 소비자보호에 관한 법률, 약관의 규제 등에 관한 법률, 공정거래위원회가 정하는 전자상거래 등에서의 소비자 보호지침 및 관계법령 또는 상관례에 따릅니다.

                제4조(서비스의 제공 및 변경)

                ① “홈페이지”은 다음과 같은 업무를 수행합니다.

                1. 재화 또는 용역에 대한 정보 제공 및 구매계약의 체결
                2. 구매계약이 체결된 재화 또는 용역의 배송
                3. 기타 “홈페이지”이 정하는 업무

                ② “홈페이지”은 재화 또는 용역의 품절 또는 기술적 사양의 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 재화 또는 용역의 내용을 변경할 수 있습니다. 이 경우에는 변경된 재화 또는 용역의 내용 및 제공일자를 명시하여 현재의 재화 또는 용역의 내용을 게시한 곳에 즉시 공지합니다.

                ③ “홈페이지”이 제공하기로 이용자와 계약을 체결한 서비스의 내용을 재화등의 품절 또는 기술적 사양의 변경 등의 사유로 변경할 경우에는 그 사유를 이용자에게 통지 가능한 주소로 즉시 통지합니다.

                ④ 전항의 경우 “홈페이지”은 이로 인하여 이용자가 입은 손해를 배상합니다. 다만, “홈페이지”이 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.

                제5조(서비스의 중단)

                ① “홈페이지”은 컴퓨터 등 정보통신설비의 보수점검․교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.

                ② “홈페이지”은 제1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 이용자 또는 제3자가 입은 손해에 대하여 배상합니다. 단, “홈페이지”이 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.

                ③ 사업종목의 전환, 사업의 포기, 업체 간의 통합 등의 이유로 서비스를 제공할 수 없게 되는 경우에는 “홈페이지”은 제8조에 정한 방법으로 이용자에게 통지하고 당초 “홈페이지”에서 제시한 조건에 따라 소비자에게 보상합니다. 다만, “홈페이지”이 보상기준 등을 고지하지 아니한 경우에는 이용자들의 마일리지 또는 적립금 등을 “홈페이지”에서 통용되는 통화가치에 상응하는 현물 또는 현금으로 이용자에게 지급합니다.

                제6조(회원가입)

                ① 이용자는 “홈페이지”이 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청합니다.

                ② “홈페이지”은 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각 호에 해당하지 않는 한 회원으로 등록합니다.

                1. 가입신청자가 이 약관 제7조제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 다만 제7조제3항에 의한 회원자격 상실 후 3년이 경과한 자로서 “홈페이지”의 회원재가입 승낙을 얻은 경우에는 예외로 한다.
                2. 등록 내용에 허위, 기재누락, 오기가 있는 경우
                3. 기타 회원으로 등록하는 것이 “홈페이지”의 기술상 현저히 지장이 있다고 판단되는 경우

                ③ 회원가입계약의 성립 시기는 “홈페이지”의 승낙이 회원에게 도달한 시점으로 합니다.

                ④ 회원은 회원가입 시 등록한 사항에 변경이 있는 경우, 상당한 기간 이내에 “홈페이지”에 대하여 회원정보 수정 등의 방법으로 그 변경사항을 알려야 합니다.

                제7조(회원 탈퇴 및 자격 상실 등)

                ① 회원은 “홈페이지”에 언제든지 탈퇴를 요청할 수 있으며 “홈페이지”은 즉시 회원탈퇴를 처리합니다.

                ② 회원이 다음 각 호의 사유에 해당하는 경우, “홈페이지”은 회원자격을 제한 및 정지시킬 수 있습니다.

                1. 가입 신청 시에 허위 내용을 등록한 경우
                2. “홈페이지”을 이용하여 구입한 재화 등의 대금, 기타 “홈페이지”이용에 관련하여 회원이 부담하는 채무를 기일에 지급하지 않는 경우
                3. 다른 사람의 “홈페이지” 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우
                4. “홈페이지”을 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우

                ③ “홈페이지”이 회원 자격을 제한․정지 시킨 후, 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 “홈페이지”은 회원자격을 상실시킬 수 있습니다.

                ④ “홈페이지”이 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소 전에 최소한 30일 이상의 기간을 정하여 소명할 기회를 부여합니다.

                제8조(회원에 대한 통지)

                ① “홈페이지”이 회원에 대한 통지를 하는 경우, 회원이 “홈페이지”과 미리 약정하여 지정한 전자우편 주소로 할 수 있습니다.

                ② “홈페이지”은 불특정다수 회원에 대한 통지의 경우 1주일이상 “홈페이지” 게시판에 게시함으로서 개별 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대하여는 개별통지를 합니다.

                제9조(구매신청 및 개인정보 제공 동의 등)

                ① “홈페이지”이용자는 “홈페이지”상에서 다음 또는 이와 유사한 방법에 의하여 구매를 신청하며, “홈페이지”은 이용자가 구매신청을 함에 있어서 다음의 각 내용을 알기 쉽게 제공하여야 합니다.
                1. 재화 등의 검색 및 선택
                2. 받는 사람의 성명, 주소, 전화번호, 전자우편주소(또는 이동전화번호) 등의 입력
                3. 약관내용, 청약철회권이 제한되는 서비스, 배송료․설치비 등의 비용부담과 관련한 내용에 대한 확인
                4. 이 약관에 동의하고 위 3.호의 사항을 확인하거나 거부하는 표시
                (예, 마우스 클릭)
                5. 재화등의 구매신청 및 이에 관한 확인 또는 “홈페이지”의 확인에 대한 동의
                6. 결제방법의 선택

                ② “홈페이지”이 제3자에게 구매자 개인정보를 제공할 필요가 있는 경우 1) 개인정보를 제공받는 자, 2)개인정보를 제공받는 자의 개인정보 이용목적, 3) 제공하는 개인정보의 항목, 4) 개인정보를 제공받는 자의 개인정보 보유 및 이용기간을 구매자에게 알리고 동의를 받아야 합니다. (동의를 받은 사항이 변경되는 경우에도 같습니다.)


                ③ “홈페이지”이 제3자에게 구매자의 개인정보를 취급할 수 있도록 업무를 위탁하는 경우에는 1) 개인정보 취급위탁을 받는 자, 2) 개인정보 취급위탁을 하는 업무의 내용을 구매자에게 알리고 동의를 받아야 합니다. (동의를 받은 사항이 변경되는 경우에도 같습니다.) 다만, 서비스제공에 관한 계약이행을 위해 필요하고 구매자의 편의증진과 관련된 경우에는 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」에서 정하고 있는 방법으로 개인정보 취급방침을 통해 알림으로써 고지절차와 동의절차를 거치지 않아도 됩니다.


                제10조 (계약의 성립)

                ①  “홈페이지”은 제9조와 같은 구매신청에 대하여 다음 각 호에 해당하면 승낙하지 않을 수 있습니다. 다만, 미성년자와 계약을 체결하는 경우에는 법정대리인의 동의를 얻지 못하면 미성년자 본인 또는 법정대리인이 계약을 취소할 수 있다는 내용을 고지하여야 합니다.

                1. 신청 내용에 허위, 기재누락, 오기가 있는 경우
                2. 미성년자가 담배, 주류 등 청소년보호법에서 금지하는 재화 및 용역을 구매하는 경우
                3. 기타 구매신청에 승낙하는 것이 “홈페이지” 기술상 현저히 지장이 있다고 판단하는 경우

                ② “홈페이지”의 승낙이 제12조제1항의 수신확인통지형태로 이용자에게 도달한 시점에 계약이 성립한 것으로 봅니다.

                ③ “홈페이지”의 승낙의 의사표시에는 이용자의 구매 신청에 대한 확인 및 판매가능 여부, 구매신청의 정정 취소 등에 관한 정보 등을 포함하여야 합니다.

                제11조(지급방법) “홈페이지”에서 구매한 재화 또는 용역에 대한 대금지급방법은 다음 각 호의 방법중 가용한 방법으로 할 수 있습니다. 단, “홈페이지”은 이용자의 지급방법에 대하여 재화 등의 대금에 어떠한 명목의 수수료도  추가하여 징수할 수 없습니다.

                1. 폰뱅킹, 인터넷뱅킹, 메일 뱅킹 등의 각종 계좌이체
                2. 선불카드, 직불카드, 신용카드 등의 각종 카드 결제
                3. 온라인무통장입금
                4. 전자화폐에 의한 결제
                5. 수령 시 대금지급
                6. 마일리지 등 “홈페이지”이 지급한 포인트에 의한 결제
                7. “홈페이지”과 계약을 맺었거나 “홈페이지”이 인정한 상품권에 의한 결제
                8. 기타 전자적 지급 방법에 의한 대금 지급 등

                제12조(수신확인통지․구매신청 변경 및 취소)

                ① “홈페이지”은 이용자의 구매신청이 있는 경우 이용자에게 수신확인통지를 합니다.

                ② 수신확인통지를 받은 이용자는 의사표시의 불일치 등이 있는 경우에는 수신확인통지를 받은 후 즉시 구매신청 변경 및 취소를 요청할 수 있고 “홈페이지”은 배송 전에 이용자의 요청이 있는 경우에는 지체 없이 그 요청에 따라 처리하여야 합니다. 다만 이미 대금을 지불한 경우에는 제15조의 청약철회 등에 관한 규정에 따릅니다.

                제13조(재화 등의 공급)

                ① “홈페이지”은 이용자와 재화 등의 공급시기에 관하여 별도의 약정이 없는 이상, 이용자가 청약을 한 날부터 7일 이내에 재화 등을 배송할 수 있도록 주문제작, 포장 등 기타의 필요한 조치를 취합니다. 다만, “홈페이지”이 이미 재화 등의 대금의 전부 또는 일부를 받은 경우에는 대금의 전부 또는 일부를 받은 날부터 3영업일 이내에 조치를 취합니다.  이때 “홈페이지”은 이용자가 재화 등의 공급 절차 및 진행 사항을 확인할 수 있도록 적절한 조치를 합니다.

                ② “홈페이지”은 이용자가 구매한 재화에 대해 배송수단, 수단별 배송비용 부담자, 수단별 배송기간 등을 명시합니다. 만약 “홈페이지”이 약정 배송기간을 초과한 경우에는 그로 인한 이용자의 손해를 배상하여야 합니다. 다만 “홈페이지”이 고의․과실이 없음을 입증한 경우에는 그러하지 아니합니다.

                제14조(환급) “홈페이지”은 이용자가 구매신청한 재화 등이 품절 등의 사유로 인도 또는 제공을 할 수 없을 때에는 지체 없이 그 사유를 이용자에게 통지하고 사전에 재화 등의 대금을 받은 경우에는 대금을 받은 날부터 3영업일 이내에 환급하거나 환급에 필요한 조치를 취합니다.

                제15조(청약철회 등)

                ① “홈페이지”과 재화등의 구매에 관한 계약을 체결한 이용자는 「전자상거래 등에서의 소비자보호에 관한 법률」 제13조 제2항에 따른 계약내용에 관한 서면을 받은 날(그 서면을 받은 때보다 재화 등의 공급이 늦게 이루어진 경우에는 재화 등을 공급받거나 재화 등의 공급이 시작된 날을 말합니다)부터 7일 이내에는 청약의 철회를 할 수 있습니다. 다만, 청약철회에 관하여 「전자상거래 등에서의 소비자보호에 관한 법률」에 달리 정함이 있는 경우에는 동 법 규정에 따릅니다.

                ② 이용자는 재화 등을 배송 받은 경우 다음 각 호의 1에 해당하는 경우에는 반품 및 교환을 할 수 없습니다.

                1. 이용자에게 책임 있는 사유로 재화 등이 멸실 또는 훼손된 경우(다만, 재화 등의 내용을 확인하기 위하여 포장 등을 훼손한 경우에는 청약철회를 할 수 있습니다)
                2. 이용자의 사용 또는 일부 소비에 의하여 재화 등의 가치가 현저히 감소한 경우
                3. 시간의 경과에 의하여 재판매가 곤란할 정도로 재화등의 가치가 현저히 감소한 경우
                4. 같은 성능을 지닌 재화 등으로 복제가 가능한 경우 그 원본인 재화 등의 포장을 훼손한 경우

                ③ 제2항제2호 내지 제4호의 경우에 “홈페이지”이 사전에 청약철회 등이 제한되는 사실을 소비자가 쉽게 알 수 있는 곳에 명기하거나 시용상품을 제공하는 등의 조치를 하지 않았다면 이용자의 청약철회 등이 제한되지 않습니다.

                ④ 이용자는 제1항 및 제2항의 규정에 불구하고 재화 등의 내용이 표시·광고 내용과 다르거나 계약내용과 다르게 이행된 때에는 당해 재화 등을 공급받은 날부터 3월 이내, 그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 청약철회 등을 할 수 있습니다.

                제16조(청약철회 등의 효과)

                ① “홈페이지”은 이용자로부터 재화 등을 반환받은 경우 3영업일 이내에 이미 지급받은 재화 등의 대금을 환급합니다. 이 경우 “홈페이지”이 이용자에게 재화등의 환급을 지연한때에는 그 지연기간에 대하여 「전자상거래 등에서의 소비자보호에 관한 법률 시행령」제21조의2에서 정하는 지연이자율을 곱하여 산정한 지연이자를 지급합니다.

                ② “홈페이지”은 위 대금을 환급함에 있어서 이용자가 신용카드 또는 전자화폐 등의 결제수단으로 재화 등의 대금을 지급한 때에는 지체 없이 당해 결제수단을 제공한 사업자로 하여금 재화 등의 대금의 청구를 정지 또는 취소하도록 요청합니다.

                ③ 청약철회 등의 경우 공급받은 재화 등의 반환에 필요한 비용은 이용자가 부담합니다. “홈페이지”은 이용자에게 청약철회 등을 이유로 위약금 또는 손해배상을 청구하지 않습니다. 다만 재화 등의 내용이 표시·광고 내용과 다르거나 계약내용과 다르게 이행되어 청약철회 등을 하는 경우 재화 등의 반환에 필요한 비용은 “홈페이지”이 부담합니다.

                ④ 이용자가 재화 등을 제공받을 때 발송비를 부담한 경우에 “홈페이지”은 청약철회 시 그 비용을  누가 부담하는지를 이용자가 알기 쉽도록 명확하게 표시합니다.

                제17조(개인정보보호)

                ① “홈페이지”은 이용자의 개인정보 수집시 서비스제공을 위하여 필요한 범위에서 최소한의 개인정보를 수집합니다.

                ② “홈페이지”은 회원가입시 구매계약이행에 필요한 정보를 미리 수집하지 않습니다. 다만, 관련 법령상 의무이행을 위하여 구매계약 이전에 본인확인이 필요한 경우로서 최소한의 특정 개인정보를 수집하는 경우에는 그러하지 아니합니다.

                ③ “홈페이지”은 이용자의 개인정보를 수집·이용하는 때에는 당해 이용자에게 그 목적을 고지하고 동의를 받습니다.

                ④ “홈페이지”은 수집된 개인정보를 목적외의 용도로 이용할 수 없으며, 새로운 이용목적이 발생한 경우 또는 제3자에게 제공하는 경우에는 이용·제공단계에서 당해 이용자에게 그 목적을 고지하고 동의를 받습니다. 다만, 관련 법령에 달리 정함이 있는 경우에는 예외로 합니다.

                ⑤ “홈페이지”이 제2항과 제3항에 의해 이용자의 동의를 받아야 하는 경우에는 개인정보관리 책임자의 신원(소속, 성명 및 전화번호, 기타 연락처), 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공 관련사항(제공받은자, 제공목적 및 제공할 정보의 내용) 등 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 제22조제2항이 규정한 사항을 미리 명시하거나 고지해야 하며 이용자는 언제든지 이 동의를 철회할 수 있습니다.

                ⑥ 이용자는 언제든지 “홈페이지”이 가지고 있는 자신의 개인정보에 대해 열람 및 오류정정을 요구할 수 있으며 “홈페이지”은 이에 대해 지체 없이 필요한 조치를 취할 의무를 집니다. 이용자가 오류의 정정을 요구한 경우에는 “홈페이지”은 그 오류를 정정할 때까지 당해 개인정보를 이용하지 않습니다.

                ⑦ “홈페이지”은 개인정보 보호를 위하여 이용자의 개인정보를 취급하는 자를  최소한으로 제한하여야 하며 신용카드, 은행계좌 등을 포함한 이용자의 개인정보의 분실, 도난, 유출, 동의 없는 제3자 제공, 변조 등으로 인한 이용자의 손해에 대하여 모든 책임을 집니다.

                ⑧ “홈페이지” 또는 그로부터 개인정보를 제공받은 제3자는 개인정보의 수집목적 또는 제공받은 목적을 달성한 때에는 당해 개인정보를 지체 없이 파기합니다.

                ⑨ “홈페이지”은 개인정보의 수집·이용·제공에 관한 동의 란을 미리 선택한 것으로 설정해두지 않습니다. 또한 개인정보의 수집·이용·제공에 관한 이용자의 동의거절시 제한되는 서비스를 구체적으로 명시하고, 필수수집항목이 아닌 개인정보의 수집·이용·제공에 관한 이용자의 동의 거절을 이유로 회원가입 등 서비스 제공을 제한하거나 거절하지 않습니다.

                제18조(“홈페이지“의 의무)

                ① “홈페이지”은 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지속적이고, 안정적으로 재화․용역을 제공하는데 최선을 다하여야 합니다.

                ② “홈페이지”은 이용자가 안전하게 인터넷 서비스를 이용할 수 있도록 이용자의 개인정보(신용정보 포함)보호를 위한 보안 시스템을 갖추어야 합니다.

                ③ “홈페이지”이 상품이나 용역에 대하여 「표시․광고의 공정화에 관한 법률」 제3조 소정의 부당한 표시․광고행위를 함으로써 이용자가 손해를 입은 때에는 이를 배상할 책임을 집니다.

                ④ “홈페이지”은 이용자가 원하지 않는 영리목적의 광고성 전자우편을 발송하지 않습니다.

                제19조(회원의 ID 및 비밀번호에 대한 의무)

                ① 제17조의 경우를 제외한 ID와 비밀번호에 관한 관리책임은 회원에게 있습니다.

                ② 회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안됩니다.

                ③ 회원이 자신의 ID 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 “홈페이지”에 통보하고 “홈페이지”의 안내가 있는 경우에는 그에 따라야 합니다.

                제20조(이용자의 의무) 이용자는 다음 행위를 하여서는 안 됩니다.

                1. 신청 또는 변경시 허위 내용의 등록
                2. 타인의 정보 도용
                3. “홈페이지”에 게시된 정보의 변경
                4. “홈페이지”이 정한 정보 이외의 정보(컴퓨터 프로그램 등) 등의 송신 또는 게시
                5. “홈페이지” 기타 제3자의 저작권 등 지적재산권에 대한 침해
                6. “홈페이지” 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
                7. 외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는 정보를 홈페이지에 공개 또는 게시하는 행위

                제21조(연결“홈페이지”과 피연결“홈페이지” 간의 관계)

                ① 상위 “홈페이지”과 하위 “홈페이지”이 하이퍼링크(예: 하이퍼링크의 대상에는 문자, 그림 및 동화상 등이 포함됨)방식 등으로 연결된 경우, 전자를 연결 “홈페이지”(웹 사이트)이라고 하고 후자를 피연결 “홈페이지”(웹사이트)이라고 합니다.

                ② 연결“홈페이지”은 피연결“홈페이지”이 독자적으로 제공하는 재화 등에 의하여 이용자와 행하는 거래에 대해서 보증 책임을 지지 않는다는 뜻을 연결“홈페이지”의 초기화면 또는 연결되는 시점의 팝업화면으로 명시한 경우에는 그 거래에 대한 보증 책임을 지지 않습니다.

                제22조(저작권의 귀속 및 이용제한)

                ① “홈페이지“이 작성한 저작물에 대한 저작권 기타 지적재산권은 ”홈페이지“에 귀속합니다.

                ② 이용자는 “홈페이지”을 이용함으로써 얻은 정보 중 “홈페이지”에게 지적재산권이 귀속된 정보를 “홈페이지”의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.

                ③ “홈페이지”은 약정에 따라 이용자에게 귀속된 저작권을 사용하는 경우 당해 이용자에게 통보하여야 합니다.

                제23조(분쟁해결)

                ① “홈페이지”은 이용자가 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 피해보상처리기구를 설치․운영합니다.

                ② “홈페이지”은 이용자로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 이용자에게 그 사유와 처리일정을 즉시 통보해 드립니다.

                ③ “홈페이지”과 이용자 간에 발생한 전자상거래 분쟁과 관련하여 이용자의 피해구제신청이 있는 경우에는 공정거래위원회 또는 시·도지사가 의뢰하는 분쟁조정기관의 조정에 따를 수 있습니다.

                제24조(재판권 및 준거법)

                ① “홈페이지”과 이용자 간에 발생한 전자상거래 분쟁에 관한 소송은 제소 당시의 이용자의 주소에 의하고, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 이용자의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.

                ② “홈페이지”과 이용자 간에 제기된 전자상거래 소송에는 한국법을 적용합니다.
            </p>
        </div>
        <input type="radio" id="agree" name="consent" value="agree">
        <label for="agree">동의</label><br>
        <input type="radio" id="disagree" name="consent" value="disagree">
        <label for="disagree">비동의</label><br>

        <div class="privacyPolicy">
            <h2>개인정보 처리방침</h2>
            <p>
                제1조(목적)

                timeflow(이하 ‘회사'라고 함)는 회사가 제공하고자 하는 서비스(이하 ‘회사 서비스’)를 이용하는 개인(이하 ‘이용자’ 또는 ‘개인’)의 정보(이하 ‘개인정보’)를 보호하기 위해, 개인정보보호법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률(이하 '정보통신망법') 등 관련 법령을 준수하고, 서비스 이용자의 개인정보 보호 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보처리방침(이하 ‘본 방침’)을 수립합니다.




                제2조(개인정보 처리의 원칙)

                개인정보 관련 법령 및 본 방침에 따라 회사는 이용자의 개인정보를 수집할 수 있으며 수집된 개인정보는 개인의 동의가 있는 경우에 한해 제3자에게 제공될 수 있습니다. 단, 법령의 규정 등에 의해 적법하게 강제되는 경우 회사는 수집한 이용자의 개인정보를 사전에 개인의 동의 없이 제3자에게 제공할 수도 있습니다.




                제3조(본 방침의 공개)

                회사는 이용자가 언제든지 쉽게 본 방침을 확인할 수 있도록 회사 홈페이지 첫 화면 또는 첫 화면과의 연결화면을 통해 본 방침을 공개하고 있습니다.
                회사는 제1항에 따라 본 방침을 공개하는 경우 글자 크기, 색상 등을 활용하여 이용자가 본 방침을 쉽게 확인할 수 있도록 합니다.




                제4조(본 방침의 변경)

                본 방침은 개인정보 관련 법령, 지침, 고시 또는 정부나 회사 서비스의 정책이나 내용의 변경에 따라 개정될 수 있습니다.
                회사는 제1항에 따라 본 방침을 개정하는 경우 다음 각 호 하나 이상의 방법으로 공지합니다.
                회사가 운영하는 인터넷 홈페이지의 첫 화면의 공지사항란 또는 별도의 창을 통하여 공지하는 방법
                서면·모사전송·전자우편 또는 이와 비슷한 방법으로 이용자에게 공지하는 방법
                회사는 제2항의 공지는 본 방침 개정의 시행일로부터 최소 7일 이전에 공지합니다. 다만, 이용자 권리의 중요한 변경이 있을 경우에는 최소 30일 전에 공지합니다.




                제5조(회원 가입을 위한 정보)

                회사는 이용자의 회사 서비스에 대한 회원가입을 위하여 다음과 같은 정보를 수집합니다.

                필수 수집 정보: 이메일 주소, 비밀번호, 이름 및 생년월일




                제6조(개인정보 수집 방법)

                회사는 다음과 같은 방법으로 이용자의 개인정보를 수집합니다.

                이용자가 회사의 홈페이지에 자신의 개인정보를 입력하는 방식
                어플리케이션 등 회사가 제공하는 홈페이지 외의 서비스를 통해 이용자가 자신의 개인정보를 입력하는 방식




                제7조(개인정보의 이용)

                회사는 개인정보를 다음 각 호의 경우에 이용합니다.

                공지사항의 전달 등 회사운영에 필요한 경우
                이용문의에 대한 회신, 불만의 처리 등 이용자에 대한 서비스 개선을 위한 경우
                회사의 서비스를 제공하기 위한 경우
                법령 및 회사 약관을 위반하는 회원에 대한 이용 제한 조치, 부정 이용 행위를 포함하여 서비스의 원활한 운영에 지장을 주는 행위에 대한 방지 및 제재를 위한 경우
                신규 서비스 개발을 위한 경우




                제8조(개인정보의 보유 및 이용기간)

                회사는 이용자의 개인정보에 대해 개인정보의 수집·이용 목적 달성을 위한 기간 동안 개인정보를 보유 및 이용합니다.
                전항에도 불구하고 회사는 내부 방침에 의해 서비스 부정이용기록은 부정 가입 및 이용 방지를 위하여 회원 탈퇴 시점으로부터 최대 1년간 보관합니다.




                제9조(법령에 따른 개인정보의 보유 및 이용기간)

                회사는 관계법령에 따라 다음과 같이 개인정보를 보유 및 이용합니다.

                전자상거래 등에서의 소비자보호에 관한 법률에 따른 보유정보 및 보유기간
                계약 또는 청약철회 등에 관한 기록 : 5년
                대금결제 및 재화 등의 공급에 관한 기록 : 5년
                소비자의 불만 또는 분쟁처리에 관한 기록 : 3년
                표시•광고에 관한 기록 : 6개월
                통신비밀보호법에 따른 보유정보 및 보유기간
                웹사이트 로그 기록 자료 : 3개월
                전자금융거래법에 따른 보유정보 및 보유기간
                전자금융거래에 관한 기록 : 5년
                위치정보의 보호 및 이용 등에 관한 법률
                개인위치정보에 관한 기록 : 6개월




                제10조(개인정보의 파기원칙)

                회사는 원칙적으로 이용자의 개인정보 처리 목적의 달성, 보유·이용기간의 경과 등 개인정보가 필요하지 않을 경우에는 해당 정보를 지체 없이 파기합니다.




                제11조(개인정보파기절차)

                이용자가 회원가입 등을 위해 입력한 정보는 개인정보 처리 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기 되어집니다.
                회사는 파기 사유가 발생한 개인정보를 개인정보보호 책임자의 승인절차를 거쳐 파기합니다.




                제12조(개인정보파기방법)

                회사는 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제하며, 종이로 출력된 개인정보는 분쇄기로 분쇄하거나 소각 등을 통하여 파기합니다.




                제13조(광고성 정보의 전송 조치)

                회사는 전자적 전송매체를 이용하여 영리목적의 광고성 정보를 전송하는 경우 이용자의 명시적인 사전동의를 받습니다. 다만, 다음 각호 어느 하나에 해당하는 경우에는 사전 동의를 받지 않습니다
                회사가 재화 등의 거래관계를 통하여 수신자로부터 직접 연락처를 수집한 경우, 거래가 종료된 날로부터 6개월 이내에 회사가 처리하고 수신자와 거래한 것과 동종의 재화 등에 대한 영리목적의 광고성 정보를 전송하려는 경우
                「방문판매 등에 관한 법률」에 따른 전화권유판매자가 육성으로 수신자에게 개인정보의 수집출처를 고지하고 전화권유를 하는 경우
                회사는 전항에도 불구하고 수신자가 수신거부의사를 표시하거나 사전 동의를 철회한 경우에는 영리목적의 광고성 정보를 전송하지 않으며 수신거부 및 수신동의 철회에 대한 처리 결과를 알립니다.
                회사는 오후 9시부터 그다음 날 오전 8시까지의 시간에 전자적 전송매체를 이용하여 영리목적의 광고성 정보를 전송하는 경우에는 제1항에도 불구하고 그 수신자로부터 별도의 사전 동의를 받습니다.
                회사는 전자적 전송매체를 이용하여 영리목적의 광고성 정보를 전송하는 경우 다음의 사항 등을 광고성 정보에 구체적으로 밝힙니다.
                회사명 및 연락처
                수신 거부 또는 수신 동의의 철회 의사표시에 관한 사항의 표시
                회사는 전자적 전송매체를 이용하여 영리목적의 광고성 정보를 전송하는 경우 다음 각 호의 어느 하나에 해당하는 조치를 하지 않습니다.
                광고성 정보 수신자의 수신거부 또는 수신동의의 철회를 회피·방해하는 조치
                숫자·부호 또는 문자를 조합하여 전화번호·전자우편주소 등 수신자의 연락처를 자동으로 만들어 내는 조치
                영리목적의 광고성 정보를 전송할 목적으로 전화번호 또는 전자우편주소를 자동으로 등록하는 조치
                광고성 정보 전송자의 신원이나 광고 전송 출처를 감추기 위한 각종 조치
                영리목적의 광고성 정보를 전송할 목적으로 수신자를 기망하여 회신을 유도하는 각종 조치




                제14조(이용자의 의무)

                이용자는 자신의 개인정보를 최신의 상태로 유지해야 하며, 이용자의 부정확한 정보 입력으로 발생하는 문제의 책임은 이용자 자신에게 있습니다.
                타인의 개인정보를 도용한 회원가입의 경우 이용자 자격을 상실하거나 관련 개인정보보호 법령에 의해 처벌받을 수 있습니다.
                이용자는 전자우편주소, 비밀번호 등에 대한 보안을 유지할 책임이 있으며 제3자에게 이를 양도하거나 대여할 수 없습니다.




                제15조(개인정보 유출 등에 대한 조치)

                회사는 개인정보의 분실·도난·유출(이하 "유출 등"이라 한다) 사실을 안 때에는 지체 없이 다음 각 호의 모든 사항을 해당 이용자에게 알리고 방송통신위원회 또는 한국인터넷진흥원에 신고합니다.

                유출 등이 된 개인정보 항목
                유출 등이 발생한 시점
                이용자가 취할 수 있는 조치
                정보통신서비스 제공자 등의 대응 조치
                이용자가 상담 등을 접수할 수 있는 부서 및 연락처




                제16조(개인정보 유출 등에 대한 조치의 예외)

                회사는 전조에도 불구하고 이용자의 연락처를 알 수 없는 등 정당한 사유가 있는 경우에는 회사의 홈페이지에 30일 이상 게시하는 방법으로 전조의 통지를 갈음하는 조치를 취할 수 있습니다.




                제17조(개인정보 자동 수집 장치의 설치·운영 및 거부에 관한 사항)

                회사는 이용자에게 개별적인 맞춤서비스를 제공하기 위해 이용 정보를 저장하고 수시로 불러오는 개인정보 자동 수집장치(이하 '쿠키')를 사용합니다. 쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 웹브라우저(PC 및 모바일을 포함)에게 보내는 소량의 정보이며 이용자의 저장공간에 저장되기도 합니다.
                이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서 이용자는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.
                다만, 쿠키의 저장을 거부할 경우에는 로그인이 필요한 회사의 일부 서비스는 이용에 어려움이 있을 수 있습니다.




                제18조(쿠키 설치 허용 지정 방법)

                웹브라우저 옵션 설정을 통해 쿠키 허용, 쿠키 차단 등의 설정을 할 수 있습니다.

                Edge : 웹브라우저 우측 상단의 설정 메뉴 > 쿠키 및 사이트 권한 > 쿠키 및 사이트 데이터 관리 및 삭제
                Chrome : 웹브라우저 우측 상단의 설정 메뉴 > 개인정보 및 보안 > 쿠키 및 기타 사이트 데이터
                Whale : 웹브라우저 우측 상단의 설정 메뉴 > 개인정보 보호 > 쿠키 및 기타 사이트 데이터




                제19조(권익침해에 대한 구제방법)

                정보주체는 개인정보침해로 인한 구제를 받기 위하여 개인정보분쟁조정위원회, 한국인터넷진흥원 개인정보침해신고센터 등에 분쟁해결이나 상담 등을 신청할 수 있습니다. 이 밖에 기타 개인정보침해의 신고, 상담에 대하여는 아래의 기관에 문의하시기 바랍니다.
                개인정보분쟁조정위원회 : (국번없이) 1833-6972 (www.kopico.go.kr)
                개인정보침해신고센터 : (국번없이) 118 (privacy.kisa.or.kr)
                대검찰청 : (국번없이) 1301 (www.spo.go.kr)
                경찰청 : (국번없이) 182 (ecrm.cyber.go.kr)
                회사는 정보주체의 개인정보자기결정권을 보장하고, 개인정보침해로 인한 상담 및 피해 구제를 위해 노력하고 있으며, 신고나 상담이 필요한 경우 제1항의 담당부서로 연락해주시기 바랍니다.
                개인정보 보호법 제35조(개인정보의 열람), 제36조(개인정보의 정정·삭제), 제37조(개인정보의 처리정지 등)의 규정에 의한 요구에 대 하여 공공기관의 장이 행한 처분 또는 부작위로 인하여 권리 또는 이익의 침해를 받은 자는 행정심판법이 정하는 바에 따라 행정심판을 청구할 수 있습니다.
                중앙행정심판위원회 : (국번없이) 110 (www.simpan.go.kr)


                부칙

                제1조 본 방침은 2024.04.17.부터 시행됩니다.
            </p>
        </div>
        <input type="radio" id="agree2" name="consent2" value="agree2">
        <label for="agree2">동의</label><br>
        <input type="radio" id="disagree2" name="consent2" value="disagree2">
        <label for="disagree2">비동의</label><br>

        <div class="signUp">
            <button id="signUpButton" onclick="location.href = 'logIn.html'">가입하기</button>
        </div>
    </div>
</form>
</body>
<script src="/js/signUp.js"></script>
</html>