<!DOCTYPE html>
<html lang="ko">

<head>
    <title>회원가입 페이지</title>

    <link href="/css/signUp.css" rel="stylesheet" />
    <script src="/js/signUp.js"></script>
    <style>
        /* 스크롤 가능하도록 설정 */
        .privacyPolicy {
            height: 150px; /* 약관 칸의 높이를 지정하여 스크롤이 가능하도록 함 */
            overflow: auto; /* 내용이 벗어날 경우 스크롤이 생기도록 함 */
            border: 1px solid #ccc; /* 경계선 추가 */
            padding: 10px; /* 내부 여백 추가 */
            margin-top: 20px; /* 위쪽 여백 추가 */
        }
    </style>
</head>

<body>
<!-- action 속성: form에 작성한 데이터를 어디로 보낼지 지정 -->
<form action="/member/signup" method="post">
    <div class="wrapper">
        <div class="title"><h1 style="font-size: 21px;">회원가입</h1></div>
        <div class="email">
            <h3 class="list">아이디<span id="Idsu"></span></h3>
            <input id="email" name ="memberEmail" type="text" placeholder="이메일을 입력해 주세요.">
            <div id="emailError" class="error"></div>
        </div>
        <div class="name">
            <h3 class="list">이름<span id="namesu"></span></h3>
            <input id="name"  name ="memberName" type="text" placeholder="이름을 입력해 주세요.">
            <div id="nameError" class="error"></div>
        </div>
        <div class="password">
            <h3 class="list">비밀번호<span id="passwordsu"></span></h3>
            <input id="password" name ="memberPassword" type="password" placeholder="비밀번호를 입력해 주세요.">
            <div id="passwordError" class="error"></div>
        </div>
        <div class="passwordCheck">
         <h3 class="list">비밀번호 확인<span id="passwordChecksu"></span></h3>
            <input id="passwordCheck" name="memberPasswordCheck" type="password" placeholder="비밀번호를 다시 입력해 주세요.">
            <div id="passwordCheckError" class="error"></div>
        </div>
        <div class="phone">
            <h3 class="list">휴대전화<span id="phonesu"></span></h3>
            <input id="phone1" name= "memberPhone1" type="text" size="1" maxlength="3" oninput="changePhone1()"> -
            <input id="phone2" name= "memberPhone2" type="text" size="3" maxlength="4" oninput="changePhone2()"> -
            <input id="phone3" name= "memberPhone3" type="text" size="3" maxlength="4" oninput="changePhone3()">

        </div>
        <div class="userInput">
         <h3 class="list">주소<span id="addresssu"></span></h3>
         <div id="address" class="int_id">
         <span>
         <input type="text" id="sample4" class="d_form mini line addressCheck" placeholder="우편번호" readonly>
         <input type="button" id="addressButton" class="d_form mini" onclick="sample4_execDaumPostcode()" value="우편번호 찾기" readonly>
         </span>
         <input type="text" id="sample4" class="d_form mini line" placeholder="도로명주소" readonly>
         <input type="text" id="sample4" class="d_form mini line" placeholder="지번주소" readonly>
         <span id="guide" style="color:#999;display:none"></span>
         <input type="text" id="sample4" class="d_form mini line" placeholder="참고주소" readonly>
         <input type="text" id="sample4" class="d_form mini line addressCheck" placeholder="상세주소" >
         </div>
            <div id="areaError" class="error"></div>
        </div>
        <div class="gender">
            <h3 class="list">성별<span id="sexsu"></span></h3>
            <div class = "buttons">
            <button type="button" class = "sex-m button">남성</button>
            <button type="button" class = "sex-w button">여성</button>
            <div id="genderError" class="error"></div>
            </div>
        </div>

        <div class="line">
            <hr>
        </div>
        <div class="privacyPolicy">
            <h2>개인정보 처리방침</h2>
            <p>
                개인정보 처리방침
            </p>
            <!-- 내용이 길 경우 스크롤이 가능합니다. -->
        </div>

        <form>
            <!-- 기존의 개인정보 동의 항목 -->
            <p>개인정보 수집에 동의하십니까?</p>
            <input type="radio" id="agree" name="consent" value="agree">
            <label for="agree">동의</label><br>
            <input type="radio" id="disagree" name="consent" value="disagree">
            <label for="disagree">비동의</label><br>
            <!-- 추가로 동의/비동의를 선택할 수 있는 동그란 칸 -->
          </form>

        <div class="signUp">
            <button id="signUpButton" onclick="location.href = 'login.html'">가입하기</button>
        </div>
    </div>
</form>
</body>
</html>